@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(2%)
    saturate(1015%) hue-rotate(295deg) brightness(113%) contrast(100%);

  --icon-mobile-color: brightness(0) saturate(100%) invert(90%) sepia(4%)
    saturate(194%) hue-rotate(191deg) brightness(83%) contrast(91%);

  --header-bg-color: #171c28;
  --body-bg: #292e39;

  --top-actions-group-bg-color: #292e39;
  --top-actions-group-box-shadow: rgba(0, 0, 0, 0.2);

  @include abstracts.screen(lg) {
    --header-box-shadow-color: rgba(0, 0, 0, 0.2);
  }

  // Dropdown
  --dropdown-bg-color: #292e39;
  --dropdown-box-shadow: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(13%)
    saturate(843%) hue-rotate(183deg) brightness(93%) contrast(93%);
  --top-menu-border-right-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(96%) sepia(3%)
    saturate(124%) hue-rotate(200deg) brightness(102%) contrast(98%);
  --top-menu-color: #b9babe;

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

  // Category
  --category-item-bg: #171c28;
  --category-item-thumb-bg: #292e39;

  @include abstracts.screen(md) {
    --category-item-bg: #171c28;
  }

  // Filter Button
  --filter-btn-bg: #171c28;
  --filter-color: #fff;

  // Like Button
  --like-btn-bg: #292e39;

  // Product Card
  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);
}
