@use "../abstracts";

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita";
  color: var(--text-color);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a,
img,
button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);

  @include abstracts.screen(sm) {
    filter: var(--icon-mobile-color);
  }
}
