<div class="container">
  <div class="top-bar">
    <!-- More -->
    <button class="top-bar__more">
      <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon" />
    </button>

    <!-- Logo -->
    <a href="./" class="logo">
      <img class="logo__img" src="./assets/icons/logo.svg" alt="grocerymart" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li>
          <a href="#!" class="navbar__link"
            >Departments
            <img
              class="icon navbar__arrow"
              src="./assets/icons/arrow-down.svg"
              alt=""
          /></a>
        </li>
        <li>
          <a href="#!" class="navbar__link"
            >Grocery
            <img
              class="icon navbar__arrow"
              src="./assets/icons/arrow-down.svg"
              alt=""
          /></a>
        </li>
        <li>
          <a href="#!" class="navbar__link"
            >Beauty
            <img
              class="icon navbar__arrow"
              src="./assets/icons/arrow-down.svg"
              alt=""
          /></a>
        </li>
      </ul>
    </nav>

    <!-- Actions -->
    <div class="top-actions">
      <div class="top-actions__group top-actions__group--single">
        <button class="top-actions__btn">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-actions__icon"
          />
        </button>
      </div>

      <div class="top-actions__group">
        <button class="top-actions__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon top-actions__icon"
          />
          <span class="top-actions__title">03</span>
        </button>

        <div class="top-actions__separate"></div>

        <button class="top-actions__btn">
          <img
            src="./assets/icons/buy.svg"
            alt=""
            class="icon top-actions__icon"
          />
          <span class="top-actions__title">$65.42</span>
        </button>
      </div>

      <div class="top-actions__user">
        <img src="./assets/img/avatar.png" alt="" class="top-actions__avatar" />
      </div>
    </div>
  </div>
</div>
